body,
html {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 0.6rem;
}

a {
  color: #fffff3;
}

.small-text {
  font-size: 0.5rem;
}

.vert-text {
  vertical-align: middle;
}

.header-wrapper {
  background: linear-gradient(#8dcfeb, #54a0d0);
}

.white-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.801);
}

.push {
  height: 50vw;
}

#vid-img {
  background-image: url("images/meetingb.png");
}
