body,
html {
  font-family: 'Montserrat',
    sans-serif;
}

p {
  font-size: .6rem;
}

.small-text {
  font-size: .5rem
}

.vert-text {
  vertical-align: middle;
}


.header-wrapper {
  background: linear-gradient(#8dcfeb,
    #54a0d0);
}

.white-text {
  color: #fffff3;
}